<section class="services-screen">
    <div class="background">
        <div class="header">
            <h1>{{usuarioLogado}}</h1>
            <h1>Bem vinde a maior plataforma de freelancers do cin</h1>
            <button (click)="navigateToCreateService()"> Oferecer serviço </button>
        </div>
    </div>
    <div class="content">
        <div *ngFor="let service of services" class="serviceCard">
            {{ service }}
            <button class="cardButton" (click)="navigateToFreelancers(service)">
                Contratar
            </button>
        </div>
    </div>
</section>
<router-outlet></router-outlet>