h1{
    color: #9e00ff;
    mix-blend-mode: luminosity;
}

.contracted-service-screen{
    font-family: 'Roboto';
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.content{
    display: flex;
    align-items: center;
    font-weight: bold;
    flex-wrap: wrap;
    justify-content: center;
}

p{
    color: black;
}

.serviceName{
    margin: 0; 
    font-weight: bold;
    font-size: 20px;
}

.freelancer{
    margin: 0; 
    font-weight:normal;
    font-size: 16px;
}

.freelancersFeedbackButton{
    margin: 10px;
    color: #FFFF;
}
