@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rowdies:wght@300;400;700&display=swap');


body{
    margin: 0;
}

header{
    height: 39px;
    background-color: #2B2B2B;
}
footer{
    height: 39px;
    background-color: #2B2B2B;
}

button {
    background: #4F23FF;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.37);
    border-radius: 43px;
    border: #4F23FF;
    color: #FFFFFF;
}

h1{
    font-family: 'Rowdies', bold;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
}

input{
    background: #FFFFFF;
    border-radius: 5px;
    border: #FFFFFF; 
}

p{
    font-family: 'Roboto', regular;
    color: #FFFFFF;  
}

.info{
    font-size: 10px;
    color: red;
}

.serviceCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    margin: 16px;
    height: 181px;
    width: 282px;
    font-family: 'Roboto';
  }

.cardButton{
    width: 121px;
    height: 30px;
    margin-top: 90px;
}