<section class="create-servie-screen">
    <div class="createSection" >
        <h1>Oferecer serviço</h1>
        <p> Qual serviço você quer oferecer?</p>
        <form action="">
            <input list="cars">
            <datalist id="cars">
                <option value="Design"></option>
                <option value="Desenvolvimento"></option>
                <option value="Consultoria"></option>
                <option value="Marketing"></option>
            </datalist>
        </form>
        <button> Salvar </button>
    </div>
</section>
