<div class="freelancer-screen">

    <h1> {{ "Pessoas oferecendo o serviço de " + service }}</h1>

    <div class="lista-de-freelancers">
        <button  
        *ngFor="let freelancer of freelancers" class="serviceCard" 
        (click)="navigateToFreelancersFeedback(freelancer)">
                {{ freelancer }}
                <button class="cardButton" (click)="navigateToContracted(freelancer)">
                    Contratar
                </button>
        </button>
        

    </div>
   
</div>
