.freelancer-screen {
    font-family: 'Roboto';
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.lista-de-freelancers {
    display: flex;
    align-items: center;
    font-weight: bold;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 27px;
    margin-bottom: 180px;
    width: 100%;
}

h1{
    color: #9e00ff;
    mix-blend-mode: luminosity;
}

.createService{
    background: #4F23FF;
    border: #4F23FF;
    color: #FFFFFF;
    width: 190px;
    height: 45px;
}

.cardButton{
    width: 121px;
    height: 30px;
    margin-top: 93px;
    
}